@charset "UTF-8";

@import url(reset.css);
@import url(font.css);

body {background: #f3f2ef;}

.centerbox1400 {max-width: 1400px;margin: 0 auto;}


/* 첫 페이지 */

.mouse_circle {position: fixed; width: 20px; height: 20px; background: #000; border: 2px solid #fff; border-radius: 50%; pointer-events: none; left: -1000px; top: -1000px; z-index: 77; mix-blend-mode: difference;}


#section1 {width: 100%;height: 100vh;position: relative;}

#section1 .hi {position: absolute;left:50%;top:50%; transform: translate(-50%,-50%); width: 522px; height: 447px; /* background: url('../images/Hi.png'); */}
#section1 .hi figure {position: absolute; border-radius: 20%;}
#section1 .hi .hi0 {position: absolute; animation:hi0 0.7s forwards; bottom: -50px; width: 100%; height: 100%; animation-delay: 2s; opacity: 0;}
#section1 .hi .hi0 img {}
@keyframes hi0 {
    0% {bottom: -50px;opacity: 0;}
    100% {bottom: 0;opacity: 1;}
}
@keyframes hi0Img {
    0% {}
    100% {}
}

#section1 .hi .hi1 {position: absolute; left: 230px; top: 50px; overflow: hidden; animation:hi1 0.7s forwards; animation-delay: 1s;}
#section1 .hi .hi1 img {position: absolute; left: -190px; top: -50px; animation:hi1Img 0.7s forwards; animation-delay: 1s;}
@keyframes hi1 {
    0% {width: 10%; height: 10%; left: 190px; top: 50px;}
    100% {width: 100%; height: 100%; left: 0px; top: 0px;}
}
@keyframes hi1Img {
    0% {left: -190px; top: -50px;}
    100% {left: 0; top: 0;}
}

#section1 .hi .hi2 {position: absolute; top: 50px; overflow: hidden; animation:hi2 0.7s forwards; border-radius: 100%; animation-delay: 1.2s;}
#section1 .hi .hi2 img {position: absolute; left: -300px; top: -50px; animation:hi2Img 0.7s forwards; animation-delay: 1.2s;}
@keyframes hi2 {
    0% {width: 10%; height: 10%; left: 300px; top: 50px; border-radius: 100%}
    100% {width: 100%; height: 100%; left: 0px; top: 0px; border-radius: 0%}
}
@keyframes hi2Img {
    0% {left: -300px; top: -50px;}
    100% {left: 0; top: 0;}
}

#section1 .hi .hi3 {position: absolute; left: 0px; top: 170px; overflow: hidden; animation:hi3 3s forwards; border-radius: 100%; animation-delay: 1.8s;}
#section1 .hi .hi3 img {position: absolute; left: 0px; top: -170px; animation:hi3Img 3s forwards; animation-delay: 1.8s;}
@keyframes hi3 {
    0% {width: 10%; height: 10%; left: 0px; top: 170px; border-radius: 100%}
    100% {width: 100%; height: 100%; left: 0px; top: 0px; border-radius: 0%}
}
@keyframes hi3Img {
    0% {left: 0px; top: -170px;}
    100% {left: 0; top: 0;}
}

#section1 .hi .hi4 {position: absolute; left: 440px; top: 0px; overflow: hidden; animation:hi4 0.7s forwards; border-radius: 100%; animation-delay: 1.4s;}
#section1 .hi .hi4 img {position: absolute; left: 0px; top: -0px; animation:hi4Img 0.7s forwards; animation-delay: 1.4s;}
@keyframes hi4 {
    0% {width: 0%; height: 0%; left: 440px; top: 0px; border-radius: 100%}
    100% {width: 100%; height: 100%; left: 0px; top: 0px; border-radius: 0%}
}
@keyframes hi4Img {
    0% {left: -440px; top: -0px;}
    100% {left: 0; top: 0;}
}

#section1 .hi .hi5 {position: absolute; left: 400px; top: 100px; overflow: hidden; animation:hi5 0.7s forwards; border-radius: 100%;animation-delay: 1.6s;}
#section1 .hi .hi5 img {position: absolute; left: 0px; top: -100px; animation:hi5Img 0.7s forwards;animation-delay: 1.6s;}
@keyframes hi5 {
    0% {width: 10%; height: 10%; left: 400px; top: 100px; border-radius: 100%}
    100% {width: 100%; height: 70%; left: 0px; top: 100px; border-radius: 0%}
}
@keyframes hi5Img {
    0% {left: -400px; }
    100% {left: 0; }
}


#section1 .hi img {position: absolute;}

/* #section1 figure  {position: absolute; right:0 ;top:0;cursor: pointer;transition: .5s;}
#section1 figure .rabit {position: absolute; right:0 ;top:0;cursor: pointer;transition: .5s;animation: raBit 4s infinite;}

#section1 figure:hover {transform: scale(1.3);} */
.rabit_box {position: absolute; right:0px; top:0px; width: 100px; height: 100px; z-index: 10;}
.rabit_box .rabit {position: absolute; right:0px; top:0px; z-index: 2;}
.rabit_box .rabit_arm {width: 120px; height: 50px; position: absolute; right:0px; bottom:0px; border-radius: 50px;background: #dadee7; transition: .3s;}
.rabit_box:hover .rabit_arm {width: 180px;}
.rabit_box .rabit_arm img {position: absolute; left: 10px; top: 10px;}

.rabit_box:hover {}


/* 
@keyframes raBit {
    0% {right:-100px}
    50% {right:0}
    100% {right: -100px}
}

.rabit_box img {position: absolute; left:4px;bottom: 7px;} */

/* bar */
.page_progress {position: fixed;top:0;left:0
    ;width: 100%;height: 5px;z-index: 999; }
    
    .page_progress .bar {position: absolute; width: 0%;height: 100%;background: #000;}
    
   
    
    .page_progress2 {position: fixed;width: 20px;height: 400px;left: 50px;top:50%;transform: translateY(-50%);border-radius: 50px;background: #fff;overflow:hidden}
    .bar2 {position: absolute;width: 100%;height: 50%;background:#000;bottom:0}
    
/* hamburger */

.hamburger {position: fixed; right:120px ;top:50px;cursor: pointer;}
.hamburger:hover ~ .rabit_box .rabit_arm {width: 170px;}
#section1 .gnb_box {position: fixed; right:0 ;top:20%; width: 700px;height: 500px; background: rgba(0,0,0,0.9);color: #fff;border-radius: 50px;padding:70px 50px;display: none;z-index: 9999;}
#section1 .gnb_box h2 {font-size: 48px;cursor: pointer;}
#section1 .gnb_box h2:hover {color: red;;}
#section1 .gnb_box .gnb {margin-top: 50px;margin-left: 30px;;}

#section1 .gnb_box .gnb li {height: 50px;font-size: 20px;cursor: pointer;position: relative;transition: .3s;}

#section1 .gnb_box .gnb li:before  {content: "";position: absolute;width: 5px;height: 5px;background: #fff;color: #fff;left:-20px;bottom: 30px;}

#section1 .gnb_box .gnb li a {color: #fff;text-align: left;width: 150px;}

#section1 .gnb_box .gnb li:hover {transform: scale(1.1);}
#section1 .close {cursor: pointer;}

/* 1.INTRO */

#section2 {width: 100%;height: 100vh;}

#section2 .centerbox1400 {display: flex;}

#section2 .img_box {}

#section2 .text_box {margin-top: 200px;}
#section2 .text_box .text{display: flex;gap: 200px; flex-wrap: wrap;}
#section2 .text_box .text li{}
#section2 .text_box .text li h2{font-size: 36px;}
#section2 .text_box .text li .t2 {margin-top: 10px;}
.skill figure {margin-top: 10px;}
.edu li:nth-child(4){margin-top: 15px;}

.edu li:nth-child(6){margin-top: 15px;}

/* 2.UI/UX */

#section3 {width: 100%; margin-top: 200px;font-weight: light;}
#section3 .centerbox1400 {position: relative;}

#section3 h2 {margin-bottom: 100px;}

#section3 .ui_ux {display: flex; gap:400px}
.ui_ux li.monitor {position: relative; top: 100px;}
.ui_ux li.monitor .screen {position: absolute; width: 482px; height: 316px; top: 10px; left: 10px; overflow: hidden; }
.ui_ux li.monitor .screen img {width: 100%; transition: 4s; position: absolute; top: 0;}

#section3 .ui_ux .text_box {}
#section3 .ui_ux .text_box h3 {font-size: 36px;margin-bottom: 100px;}
#section3 .ui_ux .text_box p {font-size: 20px;margin-bottom: 100px;}
#section3 .ui_ux .text_box .t3 {font-size: 20px;display: flex;gap: 30px; }
#section3 .ui_ux .text_box .t3 li {}

.btn_box {width: 200px; height: 50px; border: 1px solid #000; font-size: 20px;text-align: center;line-height: 50px;margin-top: 50px; }

.btn_box a {display: block;}


#section4 {width: 100%; margin-top: 200px;}
#section4 .centerbox1400 {position: relative;}

#section4 h2 {margin-bottom: 100px;}

#section4 .ui_ux {display: flex; gap:400px}

#section4 .ui_ux .text_box {}
#section4 .ui_ux .text_box h3 {font-size: 36px;margin-bottom: 100px;}
#section4 .ui_ux .text_box p {font-size: 20px;margin-bottom: 100px;}
#section4 .ui_ux .text_box .t3 {font-size: 20px;display: flex;gap: 30px; }
#section4 .ui_ux .text_box .t3 li {}


#section5 {width: 100%; margin-top: 200px;font-weight: light}
#section5 .centerbox1400 {position: relative;}

#section5 h2 {margin-bottom: 100px;}

#section5 .ui_ux {display: flex; gap:400px}

#section5 .ui_ux .text_box {}
#section5 .ui_ux .text_box h3 {font-size: 36px;margin-bottom: 100px;}
#section5 .ui_ux .text_box p {font-size: 20px;margin-bottom: 100px;}
#section5 .ui_ux .text_box .t3 {font-size: 20px;display: flex;gap: 30px; }
#section5 .ui_ux .text_box .t3 li {}


#section6 {width: 100%; margin-top: 200px;font-weight: light}
#section6 .centerbox1400 {position: relative;}

#section6 h2 {margin-bottom: 100px;}

#section6 .ui_ux {display: flex; gap:400px}

#section6 .ui_ux .text_box {}
#section6 .ui_ux .text_box h3 {font-size: 36px;margin-bottom: 100px;}
#section6 .ui_ux .text_box p {font-size: 20px;margin-bottom: 100px;}
#section6 .ui_ux .text_box .t3 {font-size: 20px;display: flex;gap: 30px; }
#section6 .ui_ux .text_box .t3 li {}


#section7 {width: 100%; margin-top: 200px;font-weight: light}
#section7 .centerbox1400 {position: relative;}

#section7 h2 {margin-bottom: 100px;}

#section7 .ui_ux {display: flex; gap:400px}

#section7 .ui_ux .text_box {}
#section7 .ui_ux .text_box h3 {font-size: 36px;margin-bottom: 100px;}
#section7 .ui_ux .text_box p {font-size: 20px;margin-bottom: 100px;}
#section7 .ui_ux .text_box .t3 {font-size: 20px;display: flex;gap: 30px; }
#section7 .ui_ux .text_box .t3 li {}


#section8 {width: 100%; margin-top: 200px; font-weight: light}
#section8 .centerbox1400 {position: relative;}

#section8 h2 {margin-bottom: 100px;}

#section8 .ui_ux {display: flex; gap:400px}

#section8 .ui_ux .text_box {}
#section8 .ui_ux .text_box h3 {font-size: 36px;margin-bottom: 100px;}
#section8 .ui_ux .text_box p {font-size: 20px;margin-bottom: 100px;}
#section8 .ui_ux .text_box .t3 {font-size: 20px;display: flex;gap: 30px; }
#section8 .ui_ux .text_box .t3 li {}


/* 3.banner */

#section9 {width: 100%;height: 100vh;}

#section9 h2 {margin-bottom: 100px;}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper-pagination-bullet{background: #000;}
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000 /* var(--swiper-theme-color) */;
    font-size: 20px;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: #000/* var(--swiper-theme-color) */;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
   .swiper .swiper-button-next {right: 0; bottom: 20%; top: auto; ; width: 70px; height: 70px; z-index: 77;}
 .swiper .swiper-button-prev {right: 40px; bottom: 20%; top: auto; left: auto;; width: 70px; height: 70px; z-index: 77;}


.swiper .swiper-button-next:after {font-size: 30px; color: #000;}
 .swiper .swiper-button-prev:after {font-size: 25px; color: #000;}
  span.swiper-pagination-bullet {width: 20px;height: 20px;}
  span.swiper-pagination-bullet-active {background: #000; color: #000!important}

  /* 4.popup */

  #section10 {width: 100%;height: 1000vh; margin-top: 500px; }

  .con3 {position: relative;margin-bottom: 500px;margin-top: 500px;}
    .con3 .title {-webkit-trxt-stroke:2px #b1dd40; color: transparent; font-size: 100px;}
    .con3 span {display: block;width: 250px;height: 350px;background: #fee8b0;position: absolute;left: 50%;top: 50%;transform: translate(-50%,-50%);border-radius: 20px;display: flex;justify-content: center;align-items: center;color: #333;}
    .con3 span img {box-shadow: 20px 10px 10px black;}
    .con3 span.a {transform: translate(-50%,-50%) rotate(-12deg);}
        .con3 span.b {background: #ffbbcc; transform: translate(-50%,-50%) rotate(12deg);}
        .con3 span.c {background: #ffcccc; transform: translate(-50%,-50%) rotate(-15deg);}
        .con3 span.d {background: #df9773; transform: translate(-50%,-50%) rotate(18deg);}
        .con3 span.e {background: #d9eccb; transform: translate(-50%,-50%) rotate(-18deg);}
        .con3 span.f {background: #d9eccb; transform: translate(-50%,-50%) rotate(21deg);}
        .con3 span.g {background: #d9eccb; transform: translate(-50%,-50%) rotate(-21deg);}
        .con3 span.h {background: #d9eccb; transform: translate(-50%,-50%) rotate(-3deg);}


#section11 {width: 100%;height:100vh;margin-top: 300px;}

#section11 .detail {display: flex;gap: 100px;justify-content: center;margin-top: 100px;}
#section11 .detail li {width: 300px;height: 500px;;}

#section11 .detail li img {width: 100%; height: 100%; object-fit: cover; }

.gallery_modal {position: fixed;width: 100%;height: 100vh; z-index: 300;background: rgba(0,0,0,0.9); display: flex;justify-content: center;align-items: center; left: 0; top: 0; display: none; padding: 20px 0; box-sizing: border-box;}
.gallery_modal img {position: absolute; top: 0;}

.gallery_modal::-webkit-scrollbar {
  width: 10px;
}
.gallery_modal::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.gallery_modal::-webkit-scrollbar-track {
  background-color: grey;
  border-radius: 10px;
}

#section12 {width: 100%;height:100vh;display: flex;justify-content: center;align-items: center;position: relative;}

#section12 .img_box img {position: absolute;bottom:250px;right:400px;transform: rotate(270deg);animation: cLick 2s infinite;z-index: 2;cursor: pointer;}
@keyframes cLick {
  0% {bottom:250px}

  50% {bottom:350px}

  100% {bottom:250px}
}

#section12 figure {margin-top: 200px;}

#section12 figure  img {margin-left: 200px;}

.f_modal {position: fixed;;width: 100%;height: 100%;;display: none;background: rgba(0,0,0,0.9);z-index: 3;top: 0; left: 0;}

.contact_box {width: 400px;height: 400px;;border: 1px solid #000;;position: absolute;left:50%;top:30%;transform: translateX(-50%);z-index: 50;background: #fff;display: flex;justify-content: center;align-content: center;flex-direction: column;text-align: center;line-height: 1.5;}

.contact_box em {font-style: normal;}






